/*
--fundo-principal: #F8FAFC;
  --texto: #1E293B;
  --texto-inverso: #FFFFFF;
  --destaque: #2563EB;
  --destaque-inverso: #93C5FD;
  --fundo-card: #FFFFFF;
*/

/*Estilos gerais*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --fundo-principal: #f4f1eb;
  --texto: #2d2a26;
  --texto-inverso: #ffffff;
  --destaque: #7c3aed;
  --destaque-inverso: #c4b5fd;
  --fundo-card: #fffcf7;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--fundo-principal);
  color: var(--texto);
  line-height: 1.5em;
}

/*Estilos do header*/
header {
  background-color: var(--destaque);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0;
}

#menu ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

#menu ul a {
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;
  border-radius: 5px;
  padding: 12px 15px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

#menu ul a:hover {
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}

/*Estilos do corpo*/

main {
  display: grid;
  grid-template-columns: auto 90vw auto;
  margin-top: 20px;
  gap: 20px;
}

#ficha {
  grid-column: 2/2;
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 5px;
}

#ficha .foto {
  height: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
  margin: auto;
  border-radius: 50%;
  border: 5px solid var(--fundo-card);
  outline: 5px solid var(--destaque);
  margin-bottom: 15px;
  overflow: hidden;
}

#ficha h1 {
  margin: 20px 0;
  color: var(--destaque);
  text-align: left;
  font-size: 1.5em;
}

.social {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-size: 2em;
}

.social a {
  color: var(--destaque);
  transition: color 0.3s;
}

.social a:hover {
  color: var(--destaque-inverso);
}

article {
  background-color: var(--fundo-card);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
}

article h2 {
  color: var(--destaque);
  margin-bottom: 10px;
}

#detalhes {
  grid-column: 2/2;
}

#skill-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

#skill-container .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info .titulo {
  color: var(--texto);
  font-weight: bold;
}

.info .porcent {
  color: var(--destaque);
  font-weight: bold;
}

.barra {
  background-color: var(--fundo-principal);
  height: 6px;
  width: 100%;
  border-radius: 4px;
}

.barra .progresso {
  background-color: var(--destaque);
  height: 100%;
  border-radius: 4px;
}

#formacao-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

.graduation {
  background-color: var(--fundo-principal);
  padding-left: 15px;
  border-radius: 8px;
  border-left: 5px solid var(--destaque-inverso);
  transition:
    border-color 0.3s,
    border-width 0.3s;
}

.graduation:hover {
  cursor: pointer;
  border-left-width: 15px;
  border-color: var(--destaque);
}

.graduation .periodo {
  font-weight: bold;
  font-size: 0.8em;
}

.graduation .instituicao {
  color: var(--destaque);
}

.projeto-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

.projeto-container .projeto {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: var(--fundo-principal);
  border-left: 5px solid var(--destaque-inverso);
  border-radius: 9px;
  transition:
    border-width 0.3s,
    border-color 0.3s;
}

.projeto-container .foto {
  border-radius: 8px;
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  height: 200px;
}

.projeto-container .projeto:hover {
  border-left-width: 15px;
  border-color: var(--destaque);
  cursor: pointer;
}

/*Mídias maiores*/
@media screen and (min-width: 760px) {
  main {
    grid-template-columns: auto 300px 1fr auto;
  }

  #ficha {
    grid-column: 2/3;
    position: sticky;
    top: 65px;
    height: fit-content;
  }

  #detalhes {
    grid-column: 3/4;
  }

  #skill-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .projeto-container .projeto {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .projeto-container .projeto-info {
    max-width: 80%;
  }

  .projeto-container .foto {
    max-width: 20%;
    max-height: 200px;
    aspect-ratio: 1/1;
  }
}
